<a name="top"></a>
<%= render 'shared/navbar' %>

<div class="header-functions">
  <div class="with-u-title d-flex justify-content-center">
    <h1>La nostra<h1 class="with-u ml-2"> Soluzione</h1></h1>
  </div>
  <div class="with-u-title text-center">
    <h1 class="available-soon">Vogliamo darti uno strumento capace di farti sentire <h1 class="with-u ml-2" style="font-size: 30px;">sicura</h1></h1>
  </div>
  <%= image_tag "schermatawelcome.png", class: "phone-screen-1" %>
  <div class="purple-writing d-flex justify-content-center">
    <h1>Qual'è il<h1 class="with-u ml-2"> problema?</h1></h1>
  </div>
  <div class="purple-writing text-center">
    <h1 class="available-soon">Troppo spesso alle donne<br>capita di sentirsi<h1 class="with-u-little ml-2">osservate</h1><h1 class="with-u-little ml-2">seguite</h1></h1>
  </div>
  <div class="purple-writing d-flex justify-content-center">
    <h1>Come aiuta<h1 class="with-u ml-2">WithU?</h1></h1>
  </div>
</div>

<div class="body-functions">

  <div class="function">
    <div class="desc-right">
      <div class="purple-writing-desc d-flex justify-content-center">
        <h1 class="with-u-desc text-center">Assist<h1>enza</h1></h1>
      </div>
      <h1 class="desc text-center">Il tuo telefono squilla! Accetta la chiamata ed interagisci con una voce registrata in vivavoce. Nessuno penserà che tu sia da sola.</h1>
    </div>
    <%= image_tag "schermataincoming.png", class: "phone-screen-right" %>
  </div>

  <div class="function">
    <%= image_tag "schermatafakeloc.png", class: "phone-screen-left" %>
    <div class="desc-left">
      <div class="purple-writing-desc d-flex justify-content-center">
        <h1 class="with-u-desc text-center">Loc<h1>ate</h1></h1>
      </div>
      <h1 class="desc text-center">Premi Location. Condividi rapidamente la tua posizione con cinque persone di fiducia, i tuoi Angeli.</h1>
    </div>
  </div>


<div class="function">
  <div class="desc-right">
    <div class="purple-writing-desc d-flex justify-content-center">
      <h1 class="with-u-desc text-center">Call&<h1>connect</h1></h1>
    </div>
    <h1 class="desc text-center">Premi CallAngels. WithU chiama tutti i tuoi Angeli. Appena uno risponde tu riceverai una chiamata dove il tuo Angelo ti sta aspettando.</h1>
  </div>
  <%= image_tag "schermatafakecall.png", class: "phone-screen-right" %>
</div>

<div class="function">
    <%= image_tag "schermataprofile.png", class: "phone-screen-left" %>
    <div class="desc-left">
      <div class="purple-writing-desc d-flex justify-content-center">
        <h1 class="with-u-desc text-center">Angel<h1>i</h1></h1>
      </div>
      <h1 class="desc text-center">Sono le persone a cui ti affidi nei momenti di bisogno. Li hai selezionati come contatti di emergenza dal profilo.</h1>
    </div>
  </div>
</div>

<h1 class="desc text-center">Dietro ogni App c’è un team con un’idea e tanta voglia di lavorare. Scopri chi siamo</h1>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render 'shared/footer' %>
