<a name="top"></a>
<%= render 'shared/navbar' %>

<div class="subscribe-header text-center">
  <img src="<%= asset_path 'favicon-96x96.png' %>" class="img-footer text-center mb-3"/>
  <div class="with-u-title d-flex justify-content-center">
    <h1>With<h1 class="with-u">U</h1></h1>
  </div>
  <h1 class="available-soon">sarà disponibile a <b>breve</b>.</h1>
  <h1 class="available">Iscriviti per avere la versione beta</h1>
  <div class="form-email">
   <%= simple_form_for @subscriber do |f| %>

        <div class="notification-content text-center d-flex justify-content-around mt-3">
          <%= f.input :email,
                    placeholder: 'Email',
                    label: false %>
        </div>

        <div class="notification-actions text-center">
          <%= f.button :submit, value: "Non vedo l'ora", class: "btn-purple mt-2" %>
        </div>

      <% end %>
  </div>
</div>


<%= render 'shared/footersimple' %>
