<!DOCTYPE html>
<html>
  <head>
    <title>WithU</title>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="WithU" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://withu-digital.herokuapp.com//" />
    <meta property="og:image" content="<%= asset_path 'with-u-logo2.png' %>" />
    <meta property="og:description" content="Scopri WithU" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
